@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url(../css/root.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
}

.ff_plus_jakt {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.ftw-300 {
    font-weight: 300;
}

.ftw-400 {
    font-weight: 400;
}

.ftw-500 {
    font-weight: 500;
}

.ftw-600 {
    font-weight: 600;
}

.ftw-700 {
    font-weight: 700;
}

.opcty_5 {
    opacity: 0.5;
}

.opcty_7 {
    opacity: 0.7;
}

.opcty_8 {
    opacity: 0.8;
}

.opcty_9 {
    opacity: 0.9;
}

.line_height_126 {
    line-height: 126%;
}

.line_height_170 {
    line-height: 170%;
}

.line_height_121 {
    line-height: 121%;
}

.line_height_140 {
    line-height: 140%;
}

.line_height_152 {
    line-height: 152%;
}

.font_i {
    font-style: italic;
}

/*-------------------------  vishal_____cs__________slider--------------------- */
.slider_card {
    width: 946px;
    height: 253px;
    flex-shrink: 0;
    border-radius: 20px;
    border-radius: 20px;
    background: rgba(3, 137, 255, 0.12);
}

.slider_pera {
    max-width: 834px;
    font-style: italic;
}

.slick-dots {
    margin-top: 42px;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;

}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px !important;
    height: 10px !important;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: white !important;
    border-radius: 50%;
}

.slick-dots li.slick-active {
    width: 53px !important;
    height: 10px !important;
    border-radius: 28px;
    background: #0389FF !important;
}

.slick-dots li.slick-active button:before {

    content: unset !important;

}

.slick-dots li button:before {

    content: unset !important;

}

.slider_hight {
    height: 400px;
    padding-bottom: 42px;
}

.slider_ellips {
    position: absolute;
    top: 0;
    right: 20%;
    width: 381.479px;
    height: 191px;
    flex-shrink: 0;
    border-radius: 381.479px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
}

@media (min-width:320px) {
    .slider_hight {
        height: 700px;
        padding-bottom: 42px;
    }

}

@media (min-width:768px) {
    .slider_hight {
        height: 460px;
        padding-bottom: 42px;
    }

}


@media (min-width:400px) {
    .slider_hight {
        height: 510px;
        padding-bottom: 42px;
    }

}

@media (min-width:568px) {
    .slider_hight {
        height: 414px;
        padding-bottom: 42px;
    }

}

/*------------------------- slider--------------------- */
/* ----------------------we_provide---------------------- */
.pt_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.we_pro_heading {
    max-width: 467.713px;
}

.we_pro_heading_pera {
    max-width: 474.976px;
}

.learn_btn {
    display: flex;
    padding: 13px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: 1px solid #0069E3;
}

.learn_btn:hover {
    background: transparent !important;
    border: 1px solid var(--color-white);
}

.pos_absolute_ell_r {
    width: 433.455px;
    height: 422.212px;
    flex-shrink: 0;
    border-radius: 433.455px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    position: absolute;
    right: -10%;
    top: 5%;
}

.pos_absolute_ell_l {
    width: 381.479px;
    height: 395.788px;
    flex-shrink: 0;
    border-radius: 395.788px;
    opacity: 0.3;
    background: #06F;
    filter: blur(123.5px);
    position: absolute;
    top: 0;
    left: 10%;
    z-index: 0;
}

/* ----------------------we_provide---------------------- */
/* --------------how_to_work_section ----------------------*/
.how_ward_card {
    display: flex;
    width: 231px;
    padding: 23.073px 20.519px 20.199px 21.121px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: rgba(3, 137, 255, 0.12);
    backdrop-filter: blur(2px);
}

.how_ward_mini_card {

    width: 189.36px;
    height: 185.41px;
    padding: 19.433px 14.18px;
    flex-shrink: 0;
    border-radius: 22px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(0, 0, 0, 0.33);
    backdrop-filter: blur(31.5px);
}

.icon_position {
    position: absolute;
    top: 40%;
    right: -5px;
}

.how_it_work_pos {
    width: 362.394px;
    height: 338.572px;
    flex-shrink: 0;
    border-radius: 362.394px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    position: absolute;
    top: 30%;
    left: 36%;
}

.try_btn {
    display: inline-flex;
    padding: 13px 32px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 40px;
    background: linear-gradient(160deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    box-shadow: 0px 4px 32px 0px rgba(39, 70, 237, 0.50);
    border: 1px solid var(--color-blue);
}

.try_btn:hover {
    background: transparent !important;
    border: 1px solid var(--color-white);
}

.mt_35 {
    margin-top: 35px;
}

.py_64 {
    padding-top: 64px;
    padding-bottom: 64px;
}


.ellips_our_inter {
    width: 416.224px;
    height: 405.428px;
    flex-shrink: 0;
    border-radius: 416.224px;
    opacity: 0.3;
    background: #06F;
    filter: blur(100px);
    position: absolute;
    left: -5%;
    top: 5%;
    z-index: 0;
}

/* --------------how_to_work_section ----------------------*/
/* <!-- -----------------Our Integrations-------------------- --> */
@media (min-width:1400px) {
    .icon_position {
        right: 16px;
    }

}

@media (max-width:1199px) {
    .border_bottom_2 {
        border-bottom: 1px solid #273138;
    }

}

@media (min-width:992px) {
    .border_bottom {
        border-bottom: 1px solid #273138;
    }

    .border_left {
        border-left: 1px solid #273138;
    }

}

@media (min-width:1200px) {
    .border_right {
        border-right: 1px solid #273138;
    }


}

@media (max-width:992px) {
    .border_top {
        border-top: 1px solid #273138;
    }


}

/* <!-- -----------------Our Integrations-------------------- --> */